.contentLogin {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 340px;
	min-height: 410px;
}

.contentLogin .content {
	padding: 15px;
	box-shadow: 0 0 25px #ccc;
}

.contentLogin .logotipo {
	margin: auto;
	width: 100px;
	margin-bottom: 20px;
}

.contentLogin form {
	display: flex;
	width: 300px;
	flex-direction: column;
}

.contentLogin form div {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.contentLogin form div span {
	color: GRAY;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	margin: 5px 0;
}

.contentLogin form div input {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.contentLogin form .boxHelp {
	display: flex;
	flex-direction: row;
	padding: 3px;
}
.contentLogin form .boxHelp button {
	flex: 1;
}

.contentLogin form .btnHelp {
	border-radius: 4px;
	background-color: #d5d5d5;
	border: 0;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	margin: 5px 1px;
	transition: all 0.5s;
}

.contentLogin form .btnHelp:hover {
	background-color: #a5a5a5;
	cursor: pointer;
}

.contentLogin form .btnSign {
	border-radius: 4px;
	border: 0;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	margin: 5px 1px;
	transition: all 0.5s;
	background-color: #ff3366;
}

.contentLogin form .btnSign:hover {
	background-color: #ce0052;
	cursor: pointer;
}

.contentLogin .boxOthersLogin {
	display: flex;
	margin-top: 25px;
}
.contentLogin .boxOthersLogin button {
	flex: 1;
}

.btnGoogle,
.btnFacebook {
	border-radius: 4px;
	background-color: #18a3e4;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	margin: 5px 1px;
	transition: all 0.5s;
}

.btnGoogle:hover,
.btnFacebook:hover {
	background-color: #0f7bad;
	cursor: pointer;
}
