.levelPosition .point {
	text-align: center;
	line-height: 15px;
	font-weight: bold;
}

.levelPosition .title {
	background: rgba(255, 255, 255, 0.7);
	padding: 3px;
	color: darkred;
	cursor: pointer;
}

.levelPosition {
	animation-duration: 2s;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	visibility: hidden;
}

.line {
	position: absolute;
	border: 3px dashed brown;
}

.blink {
	font-weight: bold;
	animation: fadeIn, bounce 2s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.levelPosition_1 {
	top: 290px;
	left: 70px;
}

.levelPosition_2 {
	top: 340px;
	left: 180px;
}

.levelPosition_3 {
	top: 280px;
	left: 245px;
}

.levelPosition_4 {
	top: 360px;
	left: 270px;
}

.levelPosition_5 {
	top: 320px;
	left: 375px;
}

.levelPosition_6 {
	top: 235px;
	left: 340px;
}

.levelPosition_7 {
	top: 180px;
	left: 325px;
}

.levelPosition_8 {
	top: 210px;
	left: 205px;
}

.levelPosition_9 {
	top: 160px;
	left: 95px;
}

.levelPosition_10 {
	top: 88px;
	left: 213px;
}
