@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css");

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	min-width: 300px;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
